.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.footer-list {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.footer-item {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    text-align: start;
  }
}
.footer-item:last-child {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.footer-contact {
  font-style: normal;
  font-size: var(--text-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--shadow-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.place {
    color: var(--second-basic-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.container-address {
  @media screen and (max-width: 767px) {
    // margin-top: 20px;
    margin-bottom: 60px;
  }
}
// .container-address {
//   @media screen and (min-width: 768px) {
//     margin-left: 61px;
//   }
//   // @media screen and (min-width: 1200px) {
//   //   margin-left: 215px;
//   // }
// }
