.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo--dark {
  color: var(--text-color);
}
.logo--light {
  color: var(--basic-color);
}
.header__logo {
  margin-right: 88px;
  padding-top: 24px;
  padding-bottom: 25px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}
